@import "colors";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $black;
  width: 100%;
  height: 100%;
}

body {
  background: inherit;
  font-family: $fontstacksans;
  color: $white;
  text-align: center;
  a {
    color: $gray;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: inherit;
    }
  }
  h1,
  p {
    margin-bottom: 0.25em;
  }
  width: 100vw;
  max-width: 1050px;
  height: 100vh;
  margin: auto;
  padding: 0 1rem;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.hero {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.main {
  margin: 2rem 0;
  display: grid;
}

.foot {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: $lightgray;
  a:hover,
  a:focus,
  a:active {
    color: $white;
  }
}

.copy {
  font-size: 0.75rem;
  font-family: $fontstackmono;
}

img {
  width: 100%;
  border-radius: 1rem;
  margin: auto;
  @media (min-width: 600px) {
    width: 75%;
  }
}
