@import "colors";
@import "fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $black;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
}

html#fightback {
  background: $darkergray;
}

body {
  background: inherit;
  font-family: $fontstacksans;
  color: $white;
  text-align: center;
  a,
  #projectsLink,
  #homeLink {
    color: $gray;
    text-decoration: underline;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }
  h1,
  p {
    margin-bottom: 0.25em;
  }
  width: 100vw;
  max-width: 1050px;
  height: 100vh;
  margin: auto;
  padding: 0 1rem;
}

#fightbacktitle {
  padding: 25vh 0;
  font-size: 4rem;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

.main {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto;
  .text,
  .photo {
    margin: auto;
    padding: 2rem 0.5rem 1rem;
  }
  .text {
    text-align: left;
  }
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    .text {
      margin-right: 2rem;
    }
    .photo {
      text-align: left;
      margin-left: 2rem;
    }  
  }
}

.text#intro {
  display: initial;
}

.text#projects {
  display: none;
}

.foot {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: $lightgray;
  a:hover,
  a:focus,
  a:active {
    color: $white;
  }
}

.copy {
  font-size: 0.75rem;
  font-family: $fontstackmono;
}

img {
  width: 100%;
  border-radius: 1rem;
  margin: auto;
  @media (min-width: 600px) {
    width: 75%;
  }
}
